.collections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--text-color-3);
  background-color: var(--blue-shade);
  padding: 120px 0 120px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  // box-shadow: 0px 28px 20px 5px rgba(0, 0, 0, 0.1);
  scale: 1;
  overflow-x: hidden;

  //   &__title {
  //     margin-bottom: 2rem;
  //   }
  &__image-wrapper-1 {
    display: flex;
    gap: 2rem;
    // margin-left: -200px;
    transform: translateX(-300px);
  }
  &__image-wrapper-2 {
    display: flex;
    gap: 2rem;
    margin-left: -500px;
    transform: translateX(200px);
  }
  &__image {
    width: 600px;
    object-fit: cover;
  }
}
