@use "../../styles/util/" as u;

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;

  span {
    font-size: u.rem(76);
  }

  &__button {
    padding: 44px !important;
    font-size: u.rem(56);
  }
}
