.footer {
  height: 100vh;
  color: var(--text-color-2);
  background-color: var(--black);
  padding-bottom: 2rem;

  a {
    color: var(--text-color-2);
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 3rem;
    padding: 4rem 0 2rem;
  }
  &__logo-wrapper {
    grid-column: span 6 / span 6;
  }
  &__logo {
    h2 {
      overflow: hidden;
    }
  }
  &__navigation {
    grid-column: span 3 / span 3;
  }
  &__navigation-ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    li a {
      background-color: transparent;
      padding: 8px 12px;

      &:hover {
        color: var(--text-color);
      }
      &::after {
        background: var(--green);
      }
    }
  }
  &__socials {
    grid-column: span 3 / span 3;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    span {
      padding: 8px 12px;
    }
  }
  &__socials-ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    li a {
      background-color: transparent;
      padding: 8px 12px;
    }
  }
  &__copyright {
    margin-top: 7rem;
  }
  // .footer-span-opaque {
  //   background-color: var(--black);
  //   position: relative;
  //   z-index: 1;
  // }
  // .footer-word-hidden {
  //   display: inline-block;
  //   transform: translateX(-248px);
  //   transition: transform 500ms linear;
  // }
}
