@use "../util/" as u;

.footer {
  background-color: var(--dark-blue);
  color: var(--text-color-2);
  border-radius: 4rem 4rem 0 0;
  margin: 0 2rem;

  a {
    color: var(--text-color-2);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
  &__headline {
    width: fit-content;
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.2;
    margin-bottom: 4rem;
    transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

    svg {
      transform: translateX(8px);
      transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
      color: var(--accent-color);

      svg {
        transform: translateX(20px);
      }
    }
  }
  &__link-columns {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
    border-top: 2px solid var(--white);
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &__logo {
    grid-column: span 4 / span 4;
    width: fit-content;
    height: fit-content;
    font-size: u.rem(48);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1rem;
    transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      color: var(--accent-color);
    }
  }
  &__link-columns > div {
    grid-column: span 4 / span 4;
    display: flex;
    gap: 2rem;
  }
  &__navigation-wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 1rem;
      color: var(--gray);
      margin-bottom: 1rem;
    }
  }
  &__navigation-ul {
    display: flex;
    flex-direction: column;

    li a {
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
  &__contact-wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 1rem;
      color: var(--gray);
      margin-bottom: 1rem;
    }
    a {
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
  &__socials-wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 1rem;
      color: var(--gray);
      margin-bottom: 1rem;
    }
  }
  &__socials-ul {
    display: flex;
    flex-direction: column;

    li a {
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
  &__legal-wrapper {
    display: flex;
    gap: 2rem;

    span {
      flex-grow: 1;
    }
    a {
      transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
