@use "../util/" as u;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 16px 0;
  transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);

  a {
    color: var(--text-color);
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: -1px;
    overflow: hidden;
    transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
    z-index: 99;

    &:hover {
      color: var(--accent-color);
    }
  }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__navbar-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.5rem;
      width: 100vw;
      height: 100vh;
      font-size: 1.5rem;
      background-color: var(--bg-color);
      top: 50%;
      left: 50%;
      transform: translate(150%, -50%);
      transition: transform 500ms linear;
    }
  }
  &__navbar-ul.open {
    transform: translate(-50%, -50%);
  }
  &__navbar-ul.no-transition {
    transition: none;
  }
  &__navbar-li:last-child {
    display: none;

    @include u.breakpoint-down(small) {
      display: block;
    }
  }
  &__navbar-link {
    font-weight: 600;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 999px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-decoration: none;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      background-color: var(--light-blue);
    }
  }
  .header__navbar-link.button {
    color: var(--text-color-2);
    background-color: var(--dark-blue);
    padding: 16px 24px;

    &:hover {
      background-color: var(--accent-color);
    }

    @include u.breakpoint-down(small) {
      display: none;
    }
  }
  &__navbar > &__navbar-link {
    border: 0;
  }
  .active-page {
    color: var(--text-color-2);
    background-color: var(--accent-color);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header__navbar-link.button.active-page {
    border: 0;
    background-color: var(--accent-color);
  }
  &__menu {
    display: none;

    @include u.breakpoint-down(small) {
      width: 2rem;
      height: 2.25rem;
      display: block;
      position: relative;
      z-index: 99;
      padding: 0.25rem;
      cursor: pointer;
    }

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--black);
      border-radius: 999px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 200ms linear;
    }
    span:first-of-type {
      transform: translate(-50%, calc(-50% - 0.5rem));
    }
    span:nth-of-type(3) {
      transform: translate(-50%, calc(-50% + 0.5rem));
    }
  }
  &__menu.open {
    span:first-of-type {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span:nth-of-type(2) {
      opacity: 0;
    }
    span:nth-of-type(3) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.header.scrolled {
  background-color: var(--bg-color);
}
