@use "../util/" as u;

.header {
  width: 100%;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 16px 0;
  transition: transform 200ms linear;

  a {
    color: var(--text-color);
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: -1px;
    overflow: hidden;
    transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      color: var(--accent-color);
    }
  }
  // &__logo-icon {
  //   width: 32px;
  // }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__navbar-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) ;
    // background-color: var(--white);
    padding: 8px;
    border-radius: 999px;
  }
  &__navbar-li:not(:last-child) {
    margin-right: 1rem;
  }
  &__navbar-link {
    font-weight: 600;
    width: fit-content;
    padding: 12px 16px 12px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-decoration: none;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 0.5rem 0.5rem 0 0;

    &:hover {
      background-color: var(--light-blue);
      border-bottom: 4px solid var(--accent-color);
    }
  }
  .header__navbar-link.button {
    color: var(--text-color-2);
    background-color: var(--dark-blue);
    padding: 16px 24px;
    
    &:hover {
      background-color: var(--accent-color);
    }
  }
  &__navbar > &__navbar-link {
    border: 0;
  }
  .active-page {
    // color: var(--text-color-2);
    // background-color: var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header__navbar-link.button.active-page {
    border: 0;
    background-color: var(--accent-color);
  }
}

header.header-scroll {
  // transform: translateY(-100%);
  transition: transform 200ms linear;
}
