@use "../util/" as u;

*,
*::before,
*::after {
  font-family: var(--font-stack);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  // font-size: clamp(
  //   u.rem(18),
  //   0.9353448275862069rem + 0.27586206896551724vw,
  //   u.rem(20)
  // );
  // line-height: 1.98;
  overflow-x: hidden;
}

.scroll-lock {
  overflow: hidden!important;
}

main {
  width: 100%;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  // color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

svg {
  transition: transform 300ms linear;
}

input {
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

textarea {
  padding: 0;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  border-radius: 0;
}

select:focus,
input:focus {
  outline: 0;
  border-bottom: 1px solid var(--light-blue);
  box-shadow: 0 1px 0 0 var(--light-blue);
}

textarea:focus,
textarea:focus-visible {
  outline: 0;
  border: 1px solid var(--light-blue);
  box-shadow: 0 0 0 1px var(--light-blue);
}

.wrapper {

  // width: 100%;
  // padding-left: 8rem;
  // padding-right: 8rem;
  width: min(100% - u.rem(64), u.rem(1440));
  margin-inline: auto;

  @include u.breakpoint-down(small) {
    width: min(100% - u.rem(40), u.rem(1440));
  }
  @include u.breakpoint-down(xsmall) {
    width: min(100% - u.rem(32), u.rem(1440));
  }
}

.wrapper-footer, .wrapper-cta, .wrapper-contact, .wrapper-medium {
  // outline: 2px solid red;
  // width: min(100% - u.rem(64), u.rem(1400));
  width: 100%;
  padding-left: 12rem;
  padding-right: 12rem;
  margin-inline: auto;

  @include u.breakpoint-down(small) {
    width: min(100% - u.rem(32), u.rem(1400));
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.highlight {
  background: var(--accent-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
