@use "../util/" as u;

*,
*::before,
*::after {
  font-family: var(--font-stack);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  //   font-size: clamp(
  //     u.rem(18),
  //     0.9353448275862069rem + 0.27586206896551724vw,
  //     u.rem(20)
  //   );
  // line-height: 1.78;
  overflow-x: hidden;
}

main {
  width: 100%;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  // color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1.125rem;
}

input {
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

textarea {
  padding: 0;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  border-radius: 0;
}

select:focus,
input:focus,
textarea:focus-visible {
  outline: 0;
  border-bottom: 1px solid var(--green) !important;
}

textarea:focus-visible {
  outline: 0;
}

.wrapper {
  // outline: 2px solid red;
  width: min(100% - u.rem(64), u.rem(1400));
  margin-inline: auto;

  @include u.breakpoint-down(small) {
    width: min(100% - u.rem(32), u.rem(1400));
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
