@use "../util/" as u;

h1,
h2,
h3 {
  font-family: var(--font-stack);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 4.75rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.58;
}
