@use "../util/" as u;

h1,
h2,
h3 {
  font-family: var(--font-stack);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
}

h1 {
  font-size: clamp(2.5rem, 0.006688963210702337rem + 9.364548494983277vw, 6rem);
  line-height: 1.3;
  margin-bottom: 4rem;
}

h2 {
  font-size: clamp(2rem, 0.04096989966555209rem + 7.357859531772575vw, 4.75rem);
  margin-bottom: 4rem;
}

h3 {
  font-size: clamp(1.75rem, 1.5719063545150502rem + 0.6688963210702341vw, 2rem);
}

p {
  font-size: 1.25rem;
  line-height: 1.58;
}
