:root {
  --font-stack: "Be Vietnam Pro", sans-serif;

  --text-color: #0f1d07;
  --text-color-2: #f5f9f5;
  --text-color-3: #070035b3;
  --text-color-4: #8a8a8a;

  --bg-color: #f2f1ec;

  --section-pd: 12rem 0 0;

  --accent-color: #5356ff;
  --light-blue: #c2cbfd;
  --dark-blue: #201658;
  

  --white: #ffffff;
  --gray: #cecfce;
  --dark-gray: #686868;
  --black-shade: #303030;
  --black: #000000;
}
