@use "../../../styles/util/" as u;

.contactPage-form {
  background-color: var(--bg-color);
  padding: 12rem 0 6rem;
  border-radius: 0 0 4rem 4rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;

    h1 {
      max-width: 14ch;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      max-width: 48ch;
      text-align: center;
    }
  }
  &__contact-wrapper {
    display: flex;
    gap: 4rem;
    width: 100%;
  }
  &__form {
    flex: 2;
    background-color: var(--white);
    border-radius: 2rem;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    align-items: flex-start;
    gap: 2rem;

    button {
      font-size: u.rem(22);
      padding: 24px;
      justify-content: center;
      width: 100%;
      grid-column: 1 / -1;

      &::after {
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
  &__form-headline {
    grid-column: 1 / -1;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  &__form-half {
    grid-column: span 1;
    display: flex;
    flex-direction: column;

    label {
      font-weight: 500;
      margin-bottom: 1rem;
    }
    input {
      width: 100%;
      font-size: inherit;
      padding: 1rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: border 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    input:focus {
      border: 1px solid var(--accent-color);
    }
    input.input-error {
      border: 1px solid red;
    }
    & > span {
      color: red;
      padding: 0.375rem 0;
    }
  }
  &__contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    & > div > *:not(span:first-of-type, span:nth-of-type(2)) {
      width: fit-content;
      border-bottom: 1px solid var(--text-color);
      cursor: pointer;
      transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    & > div > *:not(span:first-of-type, span:nth-of-type(2)):hover {
      color: var(--accent-color);
    }
    & > div > span:first-of-type {
      font-size: 1.25rem;
      font-weight: 500;
    }
    & > div > span:nth-of-type(2){
      color: var(--text-color-4);
      margin-bottom: 0.5rem;
    }
    & > div > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
