@use "../../../styles/util/" as u;

.contactPage-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100vh;
  color: var(--text-color-2);
  background-color: var(--black);

  a {
    color: var(--text-color-2);
  }
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem 0 4rem;
    
  }
  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
  }
  &__logo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0;

    & > a {
      font-size: u.rem(48);
      font-weight: 900;
      margin-bottom: 1rem;
    }
    & > span {
      font-size: u.rem(16);
      font-weight: 400;
    }
  }
  &__information {
    display: flex;
    gap: 4rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      span {
        display: flex;
        align-items: center;
        gap: 0.625rem;

        svg {
          color: var(--green);
        }
      }
    }
  }
  &__informations-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 4rem;
    border-bottom: 2px solid var(--white);
  }
  &__socials {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    & > span {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      padding: 0px 12px;

      svg {
        color: var(--green);
      }
    }
  }
  &__socials-ul {
    display: flex;
    gap: 0.625rem;

    li a {
      background-color: transparent;
      padding: 8px 12px;

      &:hover {
        color: var(--text-color);
        background-color: var(--green);
      }
    }
  }
}
