@use "../../../styles/util/" as u;

.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 12rem 0 8rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__button {
    margin-bottom: 4rem;
  }
  &__image {
    max-height: 400px;
  }
}
