@use "../../../styles/util/" as u;

.workPage-hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    // gap: 2rem;

    h1 {
      margin-bottom: 0;
    }
  }
}

.workPage-works {
  padding: 0 0 12rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }
  &__grid-wrapper {
    display: grid;
    gap: 2rem;
  }
  &__grid-wrapper:last-of-type {
    .workPage-works__grid-half {
      margin-bottom: 0;
    }
  }
  &__grid-full {
    display: grid;
    grid-template-areas: "a";
    position: relative;

    img {
      width: 100%;
      max-height: 90vh;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 4%;
      left: 3%;
      z-index: 1;
    }
  }
  &__grid-half {
    display: grid;
    grid-template-areas: "a b";
    grid-auto-columns: minmax(0, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  &__grid-half-1,
  &__grid-half-2 {
    position: relative;

    span {
      position: absolute;
      bottom: 4%;
      left: 3%;
      z-index: 1;
    }
  }
  &__button {
    display: flex;
    width: fit-content;
    padding: 12px 22px 12px;
    color: var(--text-color-2);
    font-weight: 600;
    background: var(--gradient);
    border-radius: 999px;
  }
}
