@use "../../../styles/util/" as u;

.expertisePage-hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expertisePage-midpage {
  padding: 0 0 12rem;

  // &__wrapper {

  // }
  &__image-wrapper {
    margin-bottom: 10rem;

    img {
      width: 100%;
      height: 800px;
      object-fit: cover;
    }
  }
  &__headline {
    margin-bottom: 8rem;
    h2 {
      font-size: u.rem(98);
      font-weight: 500;
      margin-bottom: 2rem;
    }
    p {
      font-size: u.rem(26);
      max-width: 60ch;
    }
  }
  &__cards-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    column-gap: 1rem;
    row-gap: 6rem;
  }
  &__card {
    display: flex;
    flex-direction: column;

    span {
      font-size: 1.625rem;
      padding-bottom: 2rem;
      border-bottom: 1.5px solid var(--gray);
      margin-bottom: 2rem;
    }
    h3 {
      font-size: u.rem(26);
      font-weight: 500;
      margin-bottom: 2rem;
    }
    p {
      color: var(--text-color-3);
      font-size: u.rem(20);
    }
  }
}

.expertisePage-ending {
  padding: 0 0 4rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 8rem;
  }
  &__image-wrapper {
    max-width: 50%;
  }
  &__text-wrapper {
    max-width: 35%;

    h3 {
      font-size: u.rem(56);
      margin-bottom: 2rem;
    }
    p {
      color: var(--text-color-3);
      font-size: u.rem(20);
    }
  }
}
