@use "../../../styles/util/" as u;

#expertisepage {
  background-color: var(--black);
}

.expertisePage-hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);

  &__wrapper {
    h1 {
      margin-bottom: 0;
    }
  }
}

.expertisePage-midpage {
  background-color: var(--bg-color);
  padding: 0 0 12rem;

  // &__wrapper {

  // }
  &__image-wrapper {
    margin-bottom: 10rem;

    img {
      width: 100%;
      height: 800px;
      object-fit: cover;
    }
  }
  &__headline {
    margin-bottom: 8rem;

    h2 {
      font-size: u.rem(98);
      font-weight: 500;
      margin-bottom: 2rem;
    }
    p {
      font-size: u.rem(26);
      max-width: 60ch;
      margin-bottom: 2rem;
    }
  }
  &__cards-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 2rem;
    background-color: var(--green);
    padding: 6rem 4rem;
    border-radius: 2rem;
    margin-bottom: 4rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    transition: background-color 300ms linear;

    &:hover {
      background-color: var(--green-shade);
    }

    span {
      font-size: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1.5px solid var(--black);
      margin-bottom: 2rem;
    }
    h3 {
      font-size: u.rem(26);
      font-weight: 500;
      margin-bottom: 2rem;
    }
    p {
      color: var(--text-color-3);
      font-size: u.rem(20);
    }
  }
}

.expertisePage-ending {
  background-color: var(--bg-color);
  padding: 0 0 4rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 8rem;
  }
  &__image-wrapper {
    max-width: 50%;
  }
  &__text-wrapper {
    max-width: 35%;

    h3 {
      font-size: u.rem(56);
      margin-bottom: 2rem;
    }
    p {
      color: var(--text-color-3);
      font-size: u.rem(20);
    }
  }
}
