@use "../../../styles/util/" as u;

.about {
  padding: 0;

  &__image-wrapper {
    margin-bottom: 12rem;
    overflow: hidden;

    img {
      width: 100%;
      max-height: 800px;
      object-fit: cover;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    h2:last-of-type {
      margin-bottom: 4rem;
    }
  }
  &__headline {
    display: inline-block;
    text-align: center;
    margin-bottom: 8rem;

    h2 {
      font-size: clamp(
        u.rem(44),
        1.8269230769230769rem + 4.615384615384616vw,
        u.rem(126)
      );
      font-weight: 500;
      margin-bottom: 0;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  &__cards-carousel {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
    height: 30vh;
    overflow: hidden;
  }
  &__cards-wrapper {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation: loop-up 4s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  @keyframes loop-up {
    0% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  &__card {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 0;
    }
  }
  &__content-wrapper {
    display: flex;
    gap: 4rem;
  }
  &__content-description {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content-text-1 {
    p {
      font-size: u.rem(26);
      margin-bottom: 2rem;
      // max-width: 40ch;
    }
  }
  &__content-text-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 2rem;
      border-bottom: 1.5px solid var(--gray);

      span:first-child {
        font-size: u.rem(56);
      }
      span:last-child {
        font-size: u.rem(26);
      }
    }
  }
  &__content-image {
    width: 55%;
  }
}
