@use "../../../styles/util/" as u;

.about {
  background-color: var(--bg-color);
  padding: 0 0 8rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__headline-wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 8rem;

    div {
      width: 50%;
    }
    h2 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }
  &__content-wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 8rem;
  }
    &__content-image {
    width: 50%;
  }
  &__content-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8rem;
  }
  &__content-text {
    p {
      margin-bottom: 2rem;
    }
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--gray);

      span:first-child {
        font-size: u.rem(56);
      }
      span:last-child {
        font-size: u.rem(26);
      }
    }
  }
}
