@use "../../../styles/util/" as u;

.blog {
  padding: 8rem 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__headline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__posts-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  &__post {
    flex: 1;
    display: flex;
    flex-direction: column;

    img {
      height: 240px;
      border-radius: 1rem 1rem 0 0;
    }
  }
  &__post-text {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    
    & > span:first-of-type {
      display: inline-block;
      font-size: 0.75rem;
      background-color: var(--light-blue);
      padding: 0.25rem 0.5rem;
      border-radius: 0.375rem;
      margin-bottom: 1.5rem;
    }
    & > span:nth-of-type(2) {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    & > div {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 1.5rem;
    }
    & > div > span {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--text-color-4);
    }
  }
}
