@use "../../../styles/util/" as u;

.testimonials {
  background-color: var(--bg-color);
  padding: 8rem 0;

  &__container {
    display: flex;
    flex-direction: column;
  }
  &__card-wrapper {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    // overflow-x: auto;
    user-select: none;
    scrollbar-color: transparent transparent;
  }
  &__card {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 2rem;
    transition: background-color 300ms linear;

    &:nth-of-type(2), &:nth-of-type(4) {
      background-color: var(--light-blue);
    }
  }
  &__card-header {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // gap: 4rem;
    margin-bottom: 4rem;

    span {
      font-size: 10rem;
      margin-right: 4rem;
    }
    img {
      aspect-ratio: 1/1;
      border-radius: 1rem;
      width: 12rem;
      height: 15rem;
      object-fit: cover;
    }
  }
  &__card-text {
    display: flex;
    flex-direction: column;
    span {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}
