@use "../../../styles/util/" as u;

.testemonials {
  background-color: var(--bg-color);
  padding: var(--section-pd);

  &__container {
    display: flex;
    flex-direction: column;
  }
  &__card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2.5rem;
    overflow: visible;
  }
  &__card {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 2rem;
    transition: background-color 300ms linear;

    // &:nth-of-type(1), &:nth-of-type(2) {
    //   flex: 2;
    // }
    // &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
    //   width: 100%;
    // }
    &:nth-of-type(1) {
      transform: rotate(-5deg);
    }
    &:nth-of-type(2) {
      transform: rotate(3deg);
    }
    &:nth-of-type(3) {
      transform: rotate(3deg);
    }
    &:nth-of-type(4) {
      transform: rotate(-3deg);
    }
    &:nth-of-type(5) {
      transform: rotate(2deg);
    }
    &:nth-of-type(2), &:nth-of-type(4) {
      background-color: var(--light-blue);
    }
  }
  &__card-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 4rem;
    margin-bottom: 4rem;

    span {
      font-size: 10rem;
      margin-right: 4rem;
    }
    img {
      aspect-ratio: 1/1;
      border-radius: 1.5rem;
      width: 12rem;
      height: 15rem;
      object-fit: cover;
      margin-right: 1rem;
    }
  }
  &__card-text {
    display: flex;
    flex-direction: column;
    span {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}
