@use "../../../styles/util/" as u;

.testimonials {
  padding: 8rem 0;
  margin-bottom: 160vh;

  &__container {
    display: flex;
    flex-direction: column;
  }
  &__card-wrapper {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    margin-top: -8rem;
  }
  &__card {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 2rem;
    margin-top: 8rem;
  }
  &__card-header {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4rem;

    span {
      font-size: 10rem;
      margin-right: 4rem;
    }
    img {
      aspect-ratio: 1/1;
      border-radius: 1rem;
      width: 12rem;
      height: 15rem;
      object-fit: cover;
    }
  }
  &__card-text {
    display: flex;
    flex-direction: column;
    span {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}
