@use "../../styles/util/" as u;

.workPage__hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }
}

.workPage__works {
  padding: 0 0 4rem;

  &-wrapper {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }
  &__works-wrapper {
    display: grid;
    gap: 2rem;
  }
  &__works-full {
    display: grid;
    grid-template-areas: "a";
    position: relative;

    img {
      width: 100%;
      max-height: 90vh;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 4%;
      left: 4%;
      z-index: 1;
    }
  }
  &__works-half {
    display: grid;
    grid-template-areas: "a b";
    grid-auto-columns: minmax(0, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;  
  }
  &__works-half-1, &__works-half-2 {
    position: relative;

    span {
      position: absolute;
      bottom: 4%;
      left: 4%;
      z-index: 1;
    }
  }
}