@use "../../../styles/util/" as u;

.aboutPage-hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);

  &__wrapper {
    h1 {
      margin-bottom: 0;
    }
  }
}