@use "../../../styles/util/" as u;

.aboutPage-testemonials {
  background-color: var(--bg-color);
  padding: 0 0 12rem 0;

  &__wrapper {
    display: grid;
    position: relative;
  }
  &__card {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: var(--white);
    padding: 4rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  &__card.card-active {
    position: relative;
    left: auto;
    width: auto;
    height: auto;
  }
  &__card-content {
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      align-items: center;
      gap: 2rem;

      h2,
      img {
        width: 50%;
      }
    }
    & > span {
      width: 100%;
      font-size: 8rem;
      color: var(--text-color-4);
      margin-bottom: 2rem;
    }
    & > img {
      flex: 1;
    }
  }
  &__headline {
    flex: 1;
  }
  &__author {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;

    svg {
      color: var(--accent-color);
      margin-right: 0.625rem;
    }
  }
  .navigation {
    position: relative;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    // background-color: var(--dark-blue);
    border-radius: 999px;
    transition: background-color 200ms linear;

    &-div {
      display: flex;
      gap: 1rem;
    }
  }
  .navigation-button-left,
  .navigation-button-right {
    display: flex;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 1.125rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background-color 200ms linear;
    z-index: 999;

    &:hover {
      background-color: var(--accent-color);
    }
    svg {
      font-size: u.rem(32);
      color: var(--white);
      pointer-events: none;
    }
  }
  .navigation-button-left {
    svg {
      transform: scaleX(-1);
    }
  }
}
