@use "../../../styles/util/" as u;

.aboutPage-expertise {
  background-color: var(--bg-color);
  padding: 8rem 0 0;

  &__headline {
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 2rem;
    }
    p {
      font-size: u.rem(26);
      max-width: 60ch;
    }
  }
  &__cards-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 2rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 2rem;
    transition: background-color 300ms linear;
    cursor: default;

    svg {
      width: 2rem;
      height: 2rem;
      margin-bottom: 2rem;
    }
    span {
      font-size: u.rem(16);
      font-weight: 500;
      margin-bottom: 2rem;
    }
    p {
      font-size: u.rem(16);
    }
  }
}