@use "../../../styles/util/" as u;

.aboutPageTestemonials {
  color: var(--text-color-2);
  background-color: var(--black);
  padding: 12rem 0;

  &__wrapper {
    display: grid;
    position: relative;
  }
  &__slider {
    background-color: var(--black);
    display: grid;
    grid-template-rows: 1fr auto;
    grid-area: 1 / -1;
    margin: 0;
    padding: 0;
    align-items: center;
    opacity: 0;
    z-index: 0;
    transform: translateY(10%);
    transition: opacity 300ms linear, transform 300ms linear;
  }
  &__slider.slider-active {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
  }
  &__headline {
    display: inline-block;
    margin-bottom: 4rem;
  }
  &__author {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .author-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    span:not(:first-of-type) {
      color: var(--text-color-4);
    }
  }
  .author-name {
    display: flex;
    align-items: center;
    font-weight: 500;
    svg {
      margin-right: 0.625rem;
    }
  }
  .navigation {
    grid-area: 1 / -1;
    z-index: 1;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 999px;
    transition: background-color 200ms linear;

    &:hover {
      background-color: var(--black-shade);
    }

    &-div {
      display: flex;
    }
  }
  .navigation-button-left,
  .navigation-button-right {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 1.125rem;
    cursor: pointer;
    position: relative;
    z-index: 999;

    svg {
      font-size: u.rem(44);
      color: var(--text-color-2);
      pointer-events: none;
      transition: color 200ms linear;
    }
    &:hover > svg {
      color: var(--accent-color);
    }
  }
  .navigation-button-left {
    svg {
      transform: scaleX(-1);
    }
  }
}